<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mastersofmemory.memoryladder"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="com.android.vending.BILLING" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.MemoryLadder.ChooseTest.ChooseTest"
            android:theme="@style/AppTheme.BrandedLaunch"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.MemoryLadder.TestDetailsScreen.TestDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.MemoryLadder.Scoring.ScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.ChoosePegsScreens.ChoosePegs_Numbers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.ChoosePegsScreens.ChoosePegs_Cards"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.NumbersChallenges.HowItWorks_Numbers"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.Cards.HowItWorks_Cards"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.ChoosePegsScreens.Help_LoadPegs"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.NumbersChallenges.Numbers_Mem"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.NumbersChallenges.Numbers_Recall"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.NumbersChallenges.Numbers_Review"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.MemoryLadder.ShapesChallenges.Shapes_Mem"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MemoryLadder.ShapesChallenges.Shapes_Recall"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.MemoryLadder.ShapesChallenges.Shapes_Review"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MemoryLadder.ListsChallenges.Lists_Mem"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MemoryLadder.ListsChallenges.Lists_Recall"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.MemoryLadder.ListsChallenges.Lists_Review"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.MemoryLadder.Cards.CardPrototype"
            android:label="@string/title_activity_card_prototype">
        </activity>
    </application>

</manifest>