<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Tester"
    android:installLocation="auto">

              
    <supports-screens
        android:largeScreens = "true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:anyDensity = "true" />

    <application android:icon="@drawable/icon" 
                 android:label="@string/app_name" 
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
      
        <activity android:name="com.Tester.Main"
        		  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.Tester.ChooseTest" android:screenOrientation="portrait"></activity>
        <activity android:name="com.Tester.ScoreActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.Tester.HelpActivity" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.ChoosePegs_Numbers" android:screenOrientation="portrait"></activity>  
        <activity android:name="com.Tester.ChoosePegs_Cards" android:screenOrientation="portrait"></activity> 
        <activity android:name="com.Tester.HowItWorks_Numbers" android:screenOrientation="portrait"></activity>
        <activity android:name="com.Tester.HowItWorks_Cards" android:screenOrientation="portrait"></activity>
        <activity android:name="com.Tester.Help_LoadPegs" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.FileChooser" android:screenOrientation="portrait" android:noHistory="true"></activity>
        
        <activity android:name="com.Tester.Numbers_Mem" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Numbers_Recall" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateVisible" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Numbers_Review" android:screenOrientation="portrait"></activity>
        <activity android:name="com.Tester.Numbers_Settings" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Numbers_PreGame" android:screenOrientation="portrait"></activity>
        
        <activity android:name="com.Tester.Shapes_Mem"    android:configChanges="keyboardHidden|orientation" android:screenOrientation="landscape" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Shapes_Recall" android:configChanges="keyboardHidden|orientation" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Shapes_Review" android:screenOrientation="landscape"></activity>
        <activity android:name="com.Tester.Shapes_Settings" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Shapes_PreGame" android:screenOrientation="portrait"></activity>
        
        <activity android:name="com.Tester.Lists_Mem"    android:configChanges="keyboardHidden|orientation" android:screenOrientation="landscape" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Lists_Recall" android:configChanges="keyboardHidden|orientation" android:screenOrientation="landscape" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Lists_Review" android:screenOrientation="landscape"></activity>
        <activity android:name="com.Tester.Lists_Settings" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Lists_PreGame" android:screenOrientation="portrait"></activity>
        
        <activity android:name="com.Tester.Cards_Mem"    android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Cards_Recall" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Cards_Review" android:screenOrientation="portrait"></activity>
        <activity android:name="com.Tester.Cards_Settings" android:screenOrientation="portrait" android:noHistory="true"></activity>
        <activity android:name="com.Tester.Cards_PreGame" android:screenOrientation="portrait"></activity>
        
    

    </application>
</manifest>